
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(58, 142, 146);
}
.container {
    height: 600px;
    width: 450px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
}
#input {
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: gray;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    margin: 15px 0;
}
#input::placeholder {color: white}
ul li {
    background: #eee;
    color: whitesmoke
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    list-style: none;
}
ul .fa-check, .fa-trash {
    position: absolute;
    cursor: pointer;
}
ul .fa-check {
    right: 40px;
    color: green;
}
ul .fa-trash {
    right: 15px;
    color: red;
}
ul .checked {
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}