
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container {
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.input-container input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid green;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    font-size: 22px;
}
.input-container button {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 16px;
    outline: none;
}
.task-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
#task-list {
    width: 90%;
    padding: 10px;
}
#task-list li {
    align-items: center;
    display: flex;
    justify-content: space-between;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     margin-top: 20px;
}