
.wrapper{
  padding: 45px;
  border: 1px solid #ccc;
  background-color: antiquewhite;
  width:400px;
  margin: 150px auto;
  position: relative;
  overflow: auto;
}

.texting {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#button {
  position:absolute;
  top: 50px;
  right: 55px;
  background:red;
  padding: 5px 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  color:#fff;
  cursor:pointer;
  box-shadow:1px 1px 5px #555;
}

.toList { margin-top:15px}
.list { margin:4px 0; font-size:1.2em;}

span.del {
  color:red;
  font-size:0.6em;
  padding-right:15px;
  cursor:pointer;
}

  